<launch>
    <!-- MAVROS Node -->
    <node pkg="mavros" type="mavros_node" name="mavros" output="screen">
        <!-- Menghubungkan MAVROS dengan ArduPilot SITL -->
        <param name="fcu_url" value="/dev/ttyACM0" />
        <param name="gcs_url" value="" />
        <param name="target_system_id" value="1" />
        <param name="target_component_id" value="1" />
    </node>

    <!-- Remote Node -->
    <node pkg="sensor" type="remote_node_dummy.py" name="remote_node_dummy" output="screen" />

    <!-- Navigation Node -->
    <node pkg="navigation" type="navigation_node.py" name="navigation_node" output="screen" />
</launch>
